{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="index">
  <div class="container iDisFlex">
    <div class="i-left-content"></div>
    <div class="i-right-content">
      <div class="height">
          <div class="height-content">
         

            


          </div>
      </div>
      <div class="container">
       <h5>Найденные результаты: </h5>
      </div>
      <div class="row middle-content">
         {% for article in object_list %}
            <div class="middle-content-element">
              <div class="middle-content-in">
                <img src="{{ article.img.url }}">
                <div class="mid-con-el-text">
                  <p>{{ article.name }}</p>
                  <p><span>{{ article.author }}</span></p>
                  <button  onclick="location.href='/book/{{ article.id }}'">Читать</button> <span class="i">{{ article.price }} сум</span>
                  <div class="mar_5 star-rating star-rating-mini-dis">
                      <div class="star-value star-value-25"></div>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
      </div>
  </div>
</div>
<div class="myFooter">
  <div class="container">
    <div class="row">

      <div class="col-sm-2">
        <p></p>
        <ul>
          <li><a href="#">О компании</a></li>
          <li><a href="#">Контакты</a></li>
          <li><a href="#">Служба поддержки</a></li>
          <li><a href="#">Возврат</a></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <p>Сотрудничество</p>
        <ul>
          <li><a href="#">О компании</a></li>
          <li><a href="#">Контакты</a></li>
          <li><a href="#">Служба поддержки</a></li>
          <li><a href="#">Возврат</a></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <p>Что почитать?</p>
        <ul>
          <li><a href="#">О компании</a></li>
          <li><a href="#">Контакты</a></li>
          <li><a href="#">Служба поддержки</a></li>
          <li><a href="#">Возврат</a></li>
        </ul>
      </div>

      <div class="col-sm-2"></div>

      <div class="col-sm-2">
        <p></p>
        <a href="#"><img src="{% static 'img/playmarket.svg' %}"></a>
      </div>

      <div class="col-sm-2">
        <p></p>
        <a href="#"><img src="{% static 'img/appstore.svg' %}"></a>
      </div>

      <!--         new        -->

      <div class="col-sm-2"></div>

      <div class="col-sm-2">
        <p>Помощь</p>
        <ul>
          <li><a href="#">О компании</a></li>
          <li><a href="#">Контакты</a></li>
          <li><a href="#">Служба поддержки</a></li>
          <li><a href="#">Возврат</a></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <p>Мы в соцсетях</p>
        <ul>
          <li><a href="#">О компании</a></li>
          <li><a href="#">Контакты</a></li>
          <li><a href="#">Служба поддержки</a></li>
          <li><a href="#">Возврат</a></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <p></p>
        <ul>
          <li><a href="authorBooks">Вопрос ответ</a></li>
          <li><a href="authorBooks">Напишите нам</a></li>
        </ul>
      </div>

      <div class="col-sm-2"></div>

      <div class="col-sm-2">
        <p></p>
      </div>

    </div>
  </div>
  <footer class="miniFooter"></footer>
</div>


{% endblock %}